<!transfer.html>

{% extends "base.html" %}
{% block title %}Fund Transfer{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="mb-3 text-center">Fund Transfer</h4>

                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                <form method="post">
                    <input type="number" name="account" class="form-control mb-3" placeholder="Receiver Account Number" required>
                    <input type="number" name="amount" class="form-control mb-3" placeholder="Amount" required>
                    <button class="btn btn-success w-100">Transfer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
