<!login.html>
{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="login-page">
    <div class="login-card">

        <h4 class="login-heading">Login</h4>

        <form method="post">
            <div class="mb-3">
                <input type="text"
                       name="username"
                       class="form-control"
                       placeholder="Username"
                       required>
            </div>

            <div class="mb-3">
                <input type="password"
                       name="password"
                       class="form-control"
                       placeholder="Password"
                       required>
            </div>

            <button class="btn btn-primary w-100 login-btn">
                Login
            </button>
        </form>

        <div class="text-center mt-3">
            <a href="/signup">New user? Create an account</a>
        </div>

    </div>
</div>

{% endblock %}
